__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
venv/
.venv/
env/
sdist/
wheels/
.pip/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
test-results.xml
.vscode/
.idea/
*.swp
.env
local_settings.py
cache.xlsx
config.xlsx
search_result.xlsx